body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px solid rgb(36, 36, 36);
}

.jsMainTab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: rgb(22, 22, 22);
}

.jsMainTab button {
    float: left;
    color: #ddd;
    background-color: black;
    border-top-color:  #ddd;
    border-right-color: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.jsMainTab button:hover{
    background-color: rgb(99, 99, 99);
}

.jsMainTab button:focus{
    background: rgb(99, 99, 99);
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.jsTabContent{
    color: rgb(0, 0, 0);
    background-color: rgb(155, 153, 153);
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.jsStorySelectPage {
    margin: 0px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(117, 115, 115);
    min-height: 500px;
}

.jsStorySelectPage h2, li{
    margin-left: 20px;
}

.jsStorySelectPage li{
    font-weight: bold;
}

.jsStorySelector{
    align-items: center;
}

.jsStorySelector button{
    color: rgb(0, 0, 0);
    background-color: rgb(221, 178, 125);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    padding: 50px 20px;
    cursor: pointer;
}

.jsStorySelector button:hover{
    box-shadow: 0 4px 6px rgba(57, 57, 117, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: rgb(245, 232, 217);
}

.jsStorySelector button:active{
    transform: scale(0.9);
}

.jsStoriesPage{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    color: rgb(0, 0, 0);
    background-color: #575c6ec5;
    min-height: 500px;
}

.boxes-outline-top,
.boxes-outline-bottom {
    position: relative;
    z-index: 2;
    height: 5px;
    border-left: 1px solid rgba(0,0,0,0.4);
    border-right: 1px solid rgba(0,0,0,0.4);
    background: #333642;
}

.boxes-inner {
    display: flex;
    min-height: 500px;
    flex-direction: row;
    overflow: hidden;
}

.box-story-head,
.box-editor-head,
.box-display-head,
.box-display-tail {
    position: relative;
    z-index: 2;
    width: 5px;
    border-left: 1px solid rgba(0,0,0,0.4);
    border-right: 1px solid rgba(0,0,0,0.4);
    background: #333642;
}

.box-story-body,
.box-editor-body,
.box-display-body{
    min-height: 500px;
    height: 100%;
    width: 32.69%;
}

.box-story-body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.storySection {
    padding: 5px 5px;
    border: 1px solid red;
    height: 90%;
    height: 450px;/*setting*/
    max-height: 520px;
}

.storyControl {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    width: 100%;
    bottom: 0;
}

.storyControl button {
    height: 100%;
    width: 31.69%;
    align-self:baseline;
}

.editorSection {
    padding: 5px 5px;
    height: 100%;
    border: 1px solid red;
    height: 550px;/*setting*/
    max-height: 550px;
}

.displaySection {
    padding: 5px 5px;
    height: 100%;
    border: 1px solid red;
    height: 550px;
    max-height: 550px;/*setting*/
}