body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1px solid rgb(36, 36, 36);
}

.jsMainTab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: rgb(22, 22, 22);
}

.jsMainTab button {
  float: left;
  color: #ddd;
  background-color: black;
  border-top-color: #ddd;
  border-right-color: #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.jsMainTab button:hover {
  background-color: rgb(99, 99, 99);
}

.jsMainTab button:focus {
  background: rgb(99, 99, 99);
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jsSWTab {
  background-color: rgb(36, 36, 36);
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.jsMATHTab {
  color: rgb(0, 0, 0);
  background-color: rgb(155, 153, 153);
  min-height: 500px;
  display: none;
}

.jsStorySelectPage {
  margin: 0px 0px;
  color: rgb(228, 227, 227);
  background-color: rgb(50, 50, 50);
  min-height: 800px;
}

.jsStorySelectPage h2,
li {
  margin: 20px 20px;
  font-weight: bold;
}

.jsStorySelector {
  min-height: 600px;
  display: flex;
}

.jsStorySelector button {
  color: rgb(0, 0, 0);
  background-color: rgb(199, 199, 199);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 50px;
  width: 300px;
  height: 300px;
  padding: 50px 20px;
  cursor: pointer;
}

.storiesLinks {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: overlay;
}

.dragon {
  background-image: url("imgs/dragon.jpg");
}

.jelly {
  background-image: url("imgs/jelly.jpg");
}

.chicken {
  background-image: url("imgs/chicken.jpg");
}

.jsStorySelector button:hover {
  box-shadow: 0 4px 6px rgba(57, 57, 117, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgb(245, 232, 217);
}

.jsStorySelector button:active {
  transform: scale(0.9);
}

.jsStoriesPage {
  display: none;
  margin: 5px 5px;
  color: white;
  background-color: inherit;
  min-height: 500px;
}

.boxes-outline-top,
.boxes-outline-bottom {
  position: relative;
  z-index: 2;
  height: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  background: #333642;
}

.boxes-inner {
  display: flex;
  min-height: 800px;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
}

.box-story-head,
.box-display-tail {
  position: relative;
  z-index: 2;
  width: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  background: #3d404e;
}

.box-story-body {
  min-height: 800px;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(241, 241, 241);
  color: black;
}

#dragBar {
  width: 10px;
  z-index: 2;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  cursor: col-resize;
  background: #3d404e;
}

#dragRight {
  flex: 1 1 auto;
}

.box-display-body {
  margin: -2px -2px;
  display: flex;
  flex-direction: column;
}

.box-theia-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.storySection {
  padding: 20px 20px;
  min-height: 700px; /*setting*/
}

.storyControl {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  height: 50px;
  width: 100%;
  bottom: 0;
}

.storyControl button {
  height: 100%;
  width: 32.7%;
  align-self: baseline;
}
